<div id="menugrid" class="grid">

	<div class="row">
		<div class="tile double double-vertical bg-color-red">
			<div class="tile-content">
				<i class="icon-cart" style="font-size:160px;"></i>

			</div>
			<div class="brand">
				<span class="name">Verkauf</span>

			</div>

		</div>

				<div class="tile double double-vertical bg-color-green">
					<div class="tile-content">
				<i class="icon-history" style="font-size:160px;"></i>

			</div>
			<div class="brand">
				<span class="name">Offene Verkäufe</span>
				<span class="badge">8</span>

			</div>

		</div>


	</div>

	<div class="row">
		<div class="tile double double-vertical bg-color-blue">
			<div class="tile-content">
				<i class="icon-stats" style="font-size:160px;"></i>

			</div>
			<div class="brand">
				<span class="name">Statistiken</span>

			</div>

		</div>


	

			<div class="tile double double-vertical bg-color-yellow">
				<div class="tile-content">
				<i class="icon-search" style="font-size:160px;"></i>

			</div>
			<div class="brand">
				<span class="name">Bauteilesuche</span>

			</div>

		</div>
	</div>

</div>
