<div id="menugrid" class="grid">
<div class="span7">
	<div class="row">

		<%= link_to new_sale_path, class:"tile double double-vertical bg-color-red" do %>
		
			<div class="tile-content">
				<i class="icon-cart" style="font-size:160px;"></i>

			</div>
			<div class="brand">
				<span class="name">Verkauf</span>

			</div>

		<% end %>

		

		<%= link_to new_sale_path, class:"tile double double-vertical bg-color-green" do %>

		<div class="tile-content">
				<i class="icon-history" style="font-size:160px;"></i>

			</div>
			<div class="brand">
				<span class="name">Offene Verkäufe</span>
				<span class="badge">8</span>

			</div>
			<% end %>





	</div>

	<div class="row">
		<div class="tile double double-vertical bg-color-blue">
			<div class="tile-content">
				<i class="icon-stats" style="font-size:160px;"></i>

			</div>
			<div class="brand">
				<span class="name">Statistiken</span>

			</div>

		</div>


	

			<div class="tile double double-vertical bg-color-yellow">
				<div class="tile-content">
				<i class="icon-search" style="font-size:160px;"></i>

			</div>
			<div class="brand">
				<span class="name">Bauteilesuche</span>

			</div>

		</div>
	</div>

</div>
<div class="span3">

<h1 id="uhr"></h1>
</div>
</div>
