<div class="page secondary">
        <div class="page-header">
            <div class="page-header-content">
            <h1 id="head">Neuer Verkauf</h1>
            <a href="/" class="back-button big page-back"></a>
            </div>
        </div>
 
        <div class="page-region">
            <div class="page-region-content">
                ...
            </div>
        </div>
    </div>